body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
    font-size: 13px;
    border: 1px solid #d8d3d0;
    border-radius: 2px 2px 2px 2px;
    margin: 0;
    color: #858585;
    height: 40px;
    padding: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6em;
}

a {
    color: #444;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #004b91;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

body.contentpane {
    padding: 5px;
    background: #ffffff;
}

.highlight {
    color: #007bff !important;
}

.Required {
    color: #f00;
}

img {
    border: 0;
}

.blockcontent .active a {
    color: #007bff !important;
}

.blockcontent .active a:hover {
    color: #004b91 !important;
}

label {
    cursor: pointer;
}

.blank {
    margin: 0 !important;
    padding: 0 !important;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.hide {
    display: none;
}

.empty {
    padding: 5px;
}

.error {
    padding: 2px 0 2px 10px;
    color: #ff0000;
}

.ok {
    padding: 2px 0 2px 10px;
    color: #007bff;
}

.hidden {
    display: none;
}

.bluebuttom {
    display: inline-block;
    background: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.redbuttom,
.redbuttom:hover {
    display: inline-block;
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

#module_checkoutend .redbuttom,
#module_checkoutend .redbuttom:hover {
    font-size: 20px !important;
}

.yellowbuttom {
    display: inline-block;
    background: #ffc107;
    border: 1px solid #ffc107;
    color: #fff;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Field250 {
    width: 250px;
}

.Field260 {
    width: 262px;
}

.Field500 {
    width: 500px;
}

.Field300 {
    width: 300px;
}

.Field200 {
    width: 200px;
}

.Field100 {
    width: 100px !important;
}

.Field197 {
    width: 207px !important;
}

.Field70 {
    width: 70px !important;
}
.readmore {
    clear: both;
}

#layoutGroup2 .readmore {
    clear: both;
}

ul.pagenav {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    text-align: center;
}

ul.pagenav li {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    border: 1px solid #f2f2f2;
    padding: 2px;
}

ul.pagenav li.active span {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #fff;
}

ul.pagenav li a {
    color: #007bff;
}

ul.pagenav li a {
    color: #007bff;
}

ul.pagenav li a,
ul.pagenav li span {
    display: block;
    font-weight: bold;
    padding: 2px 10px;
}

ul.pagenav .prev span,
ul.pagenav .next span {
    position: absolute;
    top: 6px;
    height: 17px;
    width: 16px;
    padding: 0;
}

ul.pagenav .prev:hover span {
    background-position: left bottom;
}

ul.pagenav .next:hover span {
    background-position: right bottom;
}

ul.pagenav .prev a,
ul.pagenav .next a {
    color: #444444 !important;
}

ul.pagenav .prev a:hover,
ul.pagenav .next a:hover {
    color: #007bff !important;
}

ul.pagenav .prev i {
    font-size: 22px;
    position: absolute;
    top: 3px;
    left: -20px;
}

ul.pagenav .next i {
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: -20px;
}

.clear {
    clear: both;
}

.fleft {
    float: left;
}

h3 {
    padding: 5px 0;
    font-weight: normal;
    font-size: 18px;
    color: #303030;
    margin: 20px 0px 20px 0;
}

#main_contener {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 980px;
}

#header {
    padding: 0;
    margin: auto;
    width: 100%;
    background-color: #007bff;
}

#header .top_header {
    width: 100%;
    height: 55px;
    padding: 0;
    top: 0;
    margin: 0 auto 0 auto;
    background-color: #007bff;
    z-index: 99999;
}

#header .top_header .mainlogo {
    width: 30%;
    margin: 2px 0 2px 0;
    padding: 0;
    float: left;
}

#header .top_header .rightheader {
    width: 70%;
    padding: 0;
    float: right;
}

#header .top_header .rightheader .search {
    position: relative;
    width: 50%;
    margin-top: 12px;
    float: left;
}

#header .top_header .rightheader .shoptool {
    float: right;
    white-space: nowrap;
    margin: 10px 0 0 0;
}

#header .top_header .rightheader .shoptool ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#header .top_header .rightheader .shoptool ul li {
    margin: 0 0 0 10px;
    padding: 0px 5px 0 5px;
    color: #fff;
    float: left;
    position: relative;
}

#header .top_header .rightheader .shoptool ul li:hover {
    background-color: #fff;
    color: #3f4750;
}

div.subcontent .loginlink a {
    color: #007bff;
}

div.subcontent .loginlink a:hover {
    text-decoration: underline;
}

ul.right_topbar li:hover div.subcontent {
    display: block;
}

ul.right_topbar li div.subcontent {
    clear: both;
    color: #000000;
    background: white;
    min-width: 220px;
    top: 27px;
    right: 0;
    position: absolute;
    padding: 0;
    display: none;
    z-index: 999999;
}

ul.right_topbar h3 {
    font-size: 17px;
    text-align: left;
    color: #666666;
    padding: 5px 10px;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

ul.right_topbar li div.textlable {
    line-height: 17px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
    margin: 0;
}

ul.right_topbar li div.textlable i {
    font-size: 17px;
    position: absolute;
    top: 2px;
    right: 5px;
}

.shownumber {
    padding: 0;
    font-weight: bold;
}

.empty {
    padding: 10px 0px 20px 5px !important;
    text-align: center;
    color: #3c3c3c;
}

.meminfo {
    margin: 10px 0;
}

.meminfo div {
    margin: 5px 10px;
}

.buttom {
    margin: 0;
    padding: 0;
}

.buttom div {
    margin: 10px 0;
    padding: 0;
}

.buttom a.btn_face {
    display: block;
    width: 195px;
    height: 42px;
    background: #fff url(../images/login_btn.png) top left no-repeat;
}

.subcontent .buttom a.btn_face {
    margin: auto;
}

.buttom a.btn_face:hover {
    background-position: left -174px;
}

.buttom a.btn_google {
    display: block;
    width: 195px;
    height: 42px;
    background: #fff url(../images/login_btn.png) left -52px no-repeat;
}

.buttom a.btn_google:hover {
    background-position: left -226px;
}

.buttom a.btn_yahoo {
    display: block;
    width: 195px;
    height: 42px;
    background: #fff url(../images/login_btn.png) left -104px no-repeat;
}

.buttom a.btn_yahoo:hover {
    background-position: left -278px;
}

.buttom a.btn_login {
    display: block;
    margin: auto;
    width: 195px;
    background: #ffc107;
    border: 1px solid #ffc107;
    color: #fff;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.buttom a.cartlink {
    display: block;
    width: 200px;
    margin: 2px auto 4px auto;
    background: #ffc107;
    border: 1px solid #ffc107;
    color: #fff;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.buttom a.cartlink i {
    padding-left: 5px;
    font-size: 10px;
}

.orderstep {
    margin: auto;
    margin-top: 8px;
    margin-left: 20px;
    font-size: 14px;
    color: #7f7f7f;
}

.orderstep ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.orderstep ul li {
    display: inline-block;
    width: 30%;
}

.orderstep ul li a {
    color: #7f7f7f;
}

.orderstep ul li.over a,
.orderstep ul li.active a {
    color: #fff;
}

.orderstep ul li.active {
    font-weight: bold;
}

.shoppingover {
    height: 15px;
    color: #fff;
    border-bottom: 1px solid #7f7f7f;
    margin-right: 21.8%;
}

.shoppingin {
    height: 15px;
    position: relative;
    color: #fff;
    border-bottom: 2px solid #f3f3f3;
}

.shoppingover i {
    width: 27px;
    height: 18px;
    position: absolute;
    right: -8px;
    font-size: 20px;
    bottom: -7px;
    background: url(../images/carts.png) left top no-repeat;
}

#header .hotline {
    float: right;
    padding: 5px 5px 0 20px;
    background: url(../images/hotline.png) left 8px no-repeat;
    color: #808080;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    font-weight: bold;
}

#header #mainmenu {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    width: 100%;
}

#header .mainmenu_contener {
    padding: 0;
    height: 32px;
    margin: auto;
}

#header .mainmenu {
    float: left;
    width: 210px;
    padding: 6px 5px 6px 5px;
    position: relative;
    background-color: #fff;
    color: #595959;
    cursor: default;
    line-height: 20px;
}

#header .mainmenu i {
    font-size: 17px;
    margin-right: 10px;
}

#header .mainmenu .while {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 209px;
    height: 5px;
    z-index: 1003;
}

#header .mainmenu span,
#header .mainmenu span h2 {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    background-color: fff;
    white-space: nowrap;
}

#header .mainmenu span h2 {
    float: left;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.mainmenu .submenu0 {
    width: 210px;
    min-height: 400px;
    top: 32px;
    left: 0;
    text-align: left;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    background-color: #fff;
    box-shadow: 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    z-index: 1001;
}

.mainmenu .submenu1 {
    top: 0;
    left: 209px;
    height: 100%;
    text-align: left;
    width: 245px;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    background-color: #f2f2f2;
    border-left: 5px solid #007bff;
    display: none;
    z-index: 1001;
}

.mainmenu .submenubig {
    top: 0;
    left: 209px;
    min-height: 100%;
    text-align: left;
    width: 405px;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    background-color: #f2f2f2;
    border-left: 5px solid #007bff;
    display: none;
    z-index: 1001;
}

.mainmenu .submenu2 {
    top: 0;
    left: 244px;
    min-height: 100%;
    text-align: left;
    width: 245px;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    background-color: #f2f2f2;
    border-left: 5px solid #007bff;
    border-bottom: 1px solid #007bff;
    z-index: 99;
    display: none;
}

.mainmenu:hover .submenu0 {
    display: block;
}

.mainmenu li:hover .submenu1,
.mainmenu li li:hover .submenu2,
.mainmenu li:hover .submenubig {
    display: block;
}

.submenubig li {
    width: 200px;
    display: inline-block !important;
}

.mainmenu li {
    line-height: 18px;
    display: block;
    padding: 0;
    margin: 0;
}

.mainmenu li li {
    line-height: 18px;
    display: block;
    padding: 2px 0 2px 0;
    margin: 0;
}

.mainmenu li a {
    padding: 8px 0 8px 15px;
    font-size: 13px;
    color: rgb(51, 51, 51);
    overflow: hidden;
}

.mainmenu li.-bold a {
    font-weight: bold;
}

.mainmenu li.group a {
    font-weight: bold;
}

.mainmenu li a:hover,
.mainmenu li:hover a {
    color: #fff;
}

.mainmenu li:hover {
    background-color: #007bff;
}

.mainmenu li.active a,
.mainmenu li.active li.active a,
.mainmenu li.active li.active li.active a {
    font-weight: bold;
}

.mainmenu li.active li a,
.mainmenu li.active li.active li a {
    font-weight: normal;
}

.mainmenu li a,
.mainmenu li:hover li a,
.mainmenu li li:hover li a {
    display: block;
}

.mainmenu li li {
    background-color: #f2f2f2 !important;
}

.mainmenu li li a {
    font-weight: normal !important;
    color: rgb(51, 51, 51) !important;
    margin: 0 !important;
    padding: 6px 0 5px 15px !important;
}

.mainmenu li li a:hover {
    color: #007bff !important;
}

.mainmenu li li.publishmore a {
    font-weight: bold !important;
    color: #007bff !important;
}

.mainmenu li li.publishmore a:hover {
    color: rgb(51, 51, 51) !important;
}

.mainmenu li span {
    font-weight: normal !important;
    font-size: 11px;
    color: #999;
    padding: 0 0 0 15px;
}

.mainmenu .allcategories {
    padding: 5px 0;
    border-top: 1px solid #ccc;
    background: url(../images/orange-arrow-r.png) 5px 10px no-repeat;
}

.mainmenu .allcategories a:hover {
    text-decoration: underline;
}

#header .search {
    margin: 2px 0;
    height: 32px;
    z-index: 99;
}

#header .search .input,
#header .search .search-submit {
    padding: 0 2px;
    height: 30px;
}

#header .search .input {
    text-align: left;
    height: 30px;
    background: #fff;
}

#header .search-submit {
    background-color: #f2f2f2;
}

#header .search-submit input {
    color: #007bff;
    font-weight: bold;
    width: 40px;
    height: 30px;
    background: none;
    cursor: pointer;
    border: none;
}

#header .inputfield {
    height: 26px;
    padding: 2px 1%;
    margin: 0 0 0 0;
    font-size: 12px;
    width: 98%;
    color: #000000;
    font-variant: normal;
    line-height: normal;
    background: #fff;
    border: 0;
}

#header .autocomplete {
    display: none;
    padding: 5px 0;
    margin-right: 45px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    top: 30px;
    left: 0;
}

textarea:focus,
input:focus {
    outline: 0;
}

input.small {
    height: 20px !important;
    width: 50px !important;
    text-align: center;
}

#layoutGroup1 .selectfield,
#layoutGroup2 .selectfield,
#layoutGroup3 .selectfield,
#layoutGroup4 .selectfield,
#layoutGroup5 .selectfield {
    padding: 3px;
    margin: 0;
    font-size: 12px;
    color: #000;
    font-variant: normal;
    line-height: normal;
    background: #fff;
    border: 1px solid #ccc;
}

.pathway {
    height: 25px;
    width: 100%;
    display: block;
    color: #999999;
    line-height: 25px;
}

.pathway ul {
    line-height: 29px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pathway ul li {
    font-size: 13px;
    float: left;
    padding: 0 5px 0 0;
    position: relative;
    z-index: 8;
    white-space: nowrap;
}

.pathway ul li a {
    color: #007bff;
    padding: 0 10px 0 0;
    text-decoration: none;
}

.pathway ul li a:hover {
    text-decoration: underline;
}

.pathway ul li.del a {
    padding: 0 0 0 12px;
    text-decoration: none;
}

.pathway ul li.del a:hover {
    padding: 0 0 0 12px;
    text-decoration: none;
    background: url(../images/orange-arrow-d.png) no-repeat left 3px;
}

.product_contener .slookinside,
.product_vertical_contener .slookinside,
.product_top_contener .slookinside {
    position: absolute;
    top: -15px;
    right: -8px;
    width: 80px;
    height: 37px;
    background: url(../images/smallwatermark.png) no-repeat;
}

.small_products {
    position: relative;
    width: 220px;
    margin: 0;
    padding: 5px;
    background: #ffffff;
    border-bottom: 1px solid #f6f6f6;
}

.small_products:hover {
    background: #f6f6f6;
}

.small_products .image {
    margin-left: 10px;
    width: 40px;
    float: left;
}

.small_products .info {
    font-size: 12px;
    width: 160px;
    float: left;
}

.small_products .info .title {
    font-size: 13px;
}

.small_products .image img {
    border: 0;
}

.small_products .info .prices {
    color: #900;
}

.small_products .delete {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 15px;
}

.vsmall_products {
    position: relative;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #f6f6f6;
}

.vsmall_products:hover,
.headerpactive {
    background-color: #efefef;
}

.vsmall_products .image {
    width: 50px;
    float: left;
}

.vsmall_products .image img {
    border: 0;
}

.vsmall_products .info {
    width: 80%;
    float: left;
}

.vsmall_products .info .title {
    font-size: 13px;
}

.vsmall_products a {
    color: #444444;
}

ul.right_topbar .viewall {
    margin: 0;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
}

#container {
    padding: 0;
    margin: auto;
    min-width: 980px;
}

#mainbanner {
    margin-left: 230px;
    height: 420px;
    overflow: hidden;
}

#mainbanner .mainbaner {
    margin: 10px auto 0 auto;
    text-align: center;
}

#layoutGroup1 {
    padding: 0;
}

#layoutGroup1 .block {
    margin-bottom: 2em;
}

h2 a {
    color: #007bff;
}

h2 a:hover {
    color: #004b91;
}

#layoutGroup1 .block h1,
#layoutGroup4 .block h1 {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 20px 0 10px 0;
}

#layoutGroup1 .block h2 {
    background: #f2f2f2;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    height: 38px;
    margin-bottom: 18px;
}

#layoutGroup1 .block h2 a.title {
    position: relative;
    font-size: 18px;
    line-height: 38px;
    font-weight: bold;
    color: #fff;
    background: #007bff;
    padding: 9px 20px 9px 15px;
    text-transform: capitalize;
    margin: 0;
}

#layoutGroup1 .block h2 a.more {
    font-size: 14px;
    color: #595959;
    float: right;
    padding: 8px 20px;
}

#layoutGroup1 .block h2 a.more:hover {
    color: #007bff;
}

.b-main__category-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 19px solid transparent;
    border-left: 12px solid #007bff;
    border-right: 0px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    right: -12px;
}

#layoutGroup1 .block .blockcontent {
    padding: 8px 0;
}

#layoutGroup2 {
    padding: 0;
    margin: 0;
    float: right;
    width: 300px;
}

#layoutGroup2 .block {
    padding: 0;
    margin-bottom: 10px;
}

#layoutGroup2 .block h2 {
    color: #007bff;
    padding: 2px 0;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

#layoutGroup2 .block .blockcontent {
    margin: 0;
    padding: 0 0 5px 0 !important;
}

#layoutGroup2 .paddin0 .blockcontent {
    padding: 5px 0;
}

#layoutGroup2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#module_lastestnews .datepost {
    text-align: right;
    font-size: 11px;
    vertical-align: baseline;
    color: #444;
    padding: 0;
    float: left;
    width: 20%;
}

#module_lastestnews .title {
    padding: 0;
    float: right;
    width: 75%;
}

#module_lastestnews ul li {
    display: block;
    margin: 5px 0;
    font-size: 13px;
    padding: 2px 0;
}

.product_contener {
    float: left;
    vertical-align: top;
    height: 100%;
    width: 20%;
}

.products {
    width: 100%;
    background: #ffffff;
    padding: 0 5px;
    margin: 10px auto;
    position: relative;
}

.products .image img {
    border: none;
    width: 130px;
    height: 182px;
}

.products .image,
.products .prices,
.products .rootprice,
.products .addtocart {
    margin: 1px 0;
}

.products .image {
    margin-bottom: 4px;
    position: relative;
    display: inline-table;
}

.products .productname {
    font-size: 100%;
}

.products .productname a {
    color: #444444;
}

.products .productname a:hover {
    color: #007bff;
}

.products .prices {
    color: #444444;
    font-weight: bold;
    font-size: 14px;
}

.products .numvote,
.productinfo .numvote {
    float: left;
    display: block;
    font-size: 11px;
    height: 13px;
    margin-top: -2px;
    margin-left: 5px;
}

.rootprice {
    color: #999999;
    text-decoration: line-through;
    font-size: 11px !important;
}

.image .saleprice {
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 23px;
    width: 46px;
    height: 37px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/saleprice.png) no-repeat;
}

.products .fields {
    font-size: 11px;
}

.products .fields span {
    display: block;
    padding: 1px 0;
}

.products .fields span.highlight {
    display: inline !important;
}

.products .addtocart {
    font-size: 11px;
}

.products .addtocart a {
    padding: 3px 6px;
    border: 1px solid #1d1815;
    background-color: #444444;
    color: #fff;
    font-weight: bold;
}

.products .addtocart a:hover {
    background-color: #ffe097;
}

.stars {
    width: 70px;
    height: 13px;
    background: url(../images/product_rating_blank_star.gif) repeat-x;
    float: left;
}

.starsvote {
    height: 13px;
    background: url(../images/product_rating_full_star.gif) repeat-x;
}

.category_contener {
    float: left;
    width: 16%;
    margin-left: 4%;
}

.category_contener .categories {
    background: #ffffff;
    padding: 0 5px;
    margin: 10px auto;
    position: relative;
    height: 220px;
    overflow: hidden;
}

.category_contener .categories .image {
    width: 130px;
    margin: auto;
    height: 182px;
    overflow: hidden;
}

.category_contener .categories .image img {
    border: none;
    width: 100%;
    min-height: 182px;
}

.category_contener .categories .catname {
    text-transform: capitalize;
    text-align: center;
    margin: 8px 0;
}

.category_contener .categories .catname a {
    font-weight: bold;
}

#layoutGroup3 {
    padding: 0;
    margin: 5px 0;
    float: left;
    width: 220px;
}

#layoutGroup4 {
    padding: 0;
    margin-left: 225px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}


#layoutGroup3 ul li a {
		font-size: 16px !important;
		font-weight: 600;
		margin-bottom: 0.5rem;
}
.product {
	width: 300px !important;
}
.product img {
	width: 200px !important;
}
.product .image {
	width: 200px !important;
	margin-top: 1rem !important;
}